$primary: #5BAFEE;
$primary-hover: #5EA6F8;
$paragraph: #817F7F;
$primary-shadow: rgba(0, 0, 0, 0.1);
$secondary-shadow: rgba(94, 166, 248, 0.2);
$dark-text: #FFF;
$text-hover: #FFF;
$heading-light: #000;
$black-text: #000;
$section-bg: #F8F8F8;
$title: #232323;
$grey-light: #AAABAC;
$primary-border: #C4c4c4;

:root {
    --base-card-icon-fill: #000;
}